<div class="titre d-flex flex-column justify-content-center align-items-center">
	<h2>
		Portfolio
	</h2>
	<p>
		Liste de mes précédents projets
	</p>
</div>

<div class="carousel d-flex flex-row align-items-center">
	<div id="carousel" class="carousel slide offset-md-3 col-md-6 offset-sm-1 col-sm-10 col-12" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	    <li data-target="#carousel" data-slide-to="3"></li>
	    <li data-target="#carousel" data-slide-to="4"></li>
	    <li data-target="#carousel" data-slide-to="5"></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
	  	<div class="carousel-item active">
	      <a href="http://sambuca.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img1" src="../assets/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Sambuca</h3>
		    <!-- <p>Cours de gym pour seniors</p> -->
		    <p>Angular 5</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="http://risorius.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img2" src="../assets/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Risorius</h3>
		    <p>Angular 4 - NodeJS - MongoDB</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="http://angular4-project.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img3" src="../assets/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Angular Project</h3>
		    <!-- <p>Projet perso</p> -->
		    <p>Angular 4</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="https://immense-brushlands-29521.herokuapp.com" target="_blank">
	      	<img class="d-block img-fluid img4" src="../assets/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>NodeJS Project</h3>
		    <!-- <p>Projet perso</p> -->
		    <p>Angular 4 - NodeJS - MongoDB</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="https://www.legafrik.com" target="_blank">
	      	<img class="d-block img-fluid img5" src="../assets/transparent.png" target="_blank" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Legafrik</h3>
		    <!-- <p>Droit des pays d'Afrique francophone</p> -->
		    <p>AngularJS - Symphony 3</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="http://eatinparis-project.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img6" src="../assets/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Eatin' Paris</h3>
		    <!-- <p>Projet de fin d'études</p> -->
		    <p>PHP</p>
		  </div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>