<h2>Vous souhaiteriez un...</h2>

<div class="sites">
	<div (click)="onClick(fiches.vitrine)" data-toggle="modal" data-target="#myModal">
		<h3>Site vitrine</h3>
	</div>
	<div (click)="onClick(fiches.blog)" data-toggle="modal" data-target="#myModal">
		<h3>Blog</h3>
	</div>
	<div (click)="onClick(fiches.refonte)" data-toggle="modal" data-target="#myModal">
		<h3>Une refonte</h3>
	</div>
	<div (click)="onClick(fiches.autre_site)" data-toggle="modal" data-target="#myModal">
		<h3>Autre type de site</h3>
	</div>
</div>

<h2>Qui soit...</h2>

<div class="fonctionnalites">
	<div (click)="onClick(fiches.responsive)" data-toggle="modal" data-target="#myModal">
		<h3>Responsive</h3>
	</div>
	<div (click)="onClick(fiches.seo)" data-toggle="modal" data-target="#myModal">
		<h3>Bien référencé</h3>
	</div>
	<div (click)="onClick(fiches.traduction)" data-toggle="modal" data-target="#myModal">
		<h3>Compréhensible de tous</h3>
	</div>
	<div (click)="onClick(fiches.admin)" data-toggle="modal" data-target="#myModal">
		<h3>Modifiable par vous-même</h3>
	</div>
	<div (click)="onClick(fiches.autre_fonctionnalite)" data-toggle="modal" data-target="#myModal">
		<h3>Autre</h3>
	</div>
</div>
