<h2>FAQ</h2>

<div id="accordionn">
  <div class="card">
    <div class="card-header" id="headingOnee">
      <h3 class="mb-0">
        <button (click)="toggleCaret($event)" class="btn btn-link" data-toggle="collapse" data-target="#collapseOnee" aria-expanded="true" aria-controls="collapseOnee">
          <i class="fas fa-quote-left"></i>&nbsp;J’ai une page Facebook, des cartes de visite… Pourquoi un <em>site internet</em> ?&nbsp;<i class="fas fa-quote-right"></i>
        </button>
      </h3>
      <i class="fas fa-caret-down"></i>
    </div>

    <div id="collapseOnee" class="collapse show" aria-labelledby="headingOnee" data-parent="#accordionn">
      <div class="card-body">
      	<p>
            Une question...<br>
	        ...d'image : parce qu'avoir son propre <em>site internet</em> donne de la crédibilité à son activité. Vous seriez-vous abonné à votre <a href="https://fr.wikipedia.org/wiki/Fournisseur_d%27acc%C3%A8s_%C3%A0_Internet" target="_blank">FAI</a> s'il n'avait eu qu'une page Facebook ? Me croiriez-vous sur parole si je n'avais qu'une carte de visite pour montrer que je suis <em>développeur web</em> ? Moi non plus.
	        <br>
	        ...de fonctionnalités : parce qu'une simple page sur les réseaux sociaux ne permettra jamais à un internaute de créer son profil et de commander un produit.
	        <br>
	        ...d'identité : parce qu'un <em>site internet</em> est customisable de A à Z et peut être conçu à votre image. Une page Facebook restera toujours une page Facebook.
	    </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwoo">
      <h3 class="mb-0">
        <button (click)="toggleCaret($event)" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoo" aria-expanded="false" aria-controls="collapseTwoo">
          <i class="fas fa-quote-left"></i>&nbsp;Un professionnel ? Pourquoi faire ?&nbsp;<i class="fas fa-quote-right"></i>
        </button>
      </h3>
      <i class="fas fa-caret-right"></i>
    </div>
    <div id="collapseTwoo" class="collapse" aria-labelledby="headingTwoo" data-parent="#accordionn">
      <div class="card-body">
        <h4 style="text-align: center;">"Sur-mesure"</h4>
	      <p>
	      	Le web a tellement évolué qu'il permet maintenant à tout le monde ou presque de pouvoir créer un site internet tout seul, sans aucune connaissance en développement. Et c'est plutôt génial avouons-le. On peut même en échange de quelques deniers acheter un <a href="https://definition-marketing.net/template/" target="_blank">thème</a> tout fait. Mais combien d'autres personnes ont acheté le même thème que moi ? Et si je veux ajouter une fonctionnalité propre à mes besoins, comment faire ? Ou au moins faire en sorte que mon logo apparaisse avec un effet un peu original ? 
	      </p>
      	  <p>
      		C'est là que le professionnel intervient. Son rôle est de faire de votre <i>maison digitale</i> un endroit <em>sur-mesure</em>, celui-là même que vous aurez imaginé. Un endroit qui vous ressemble à vous et personne d'autre.
      	  </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThreee">
      <h3 class="mb-0">
        <button (click)="toggleCaret($event)" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreee" aria-expanded="false" aria-controls="collapseThreee">
          <i class="fas fa-quote-left"></i>&nbsp;Pourquoi faire appel a un <em>freelance</em> plutôt qu’à une agence ?&nbsp;<i class="fas fa-quote-right"></i>
        </button>
      </h3>
      <i class="fas fa-caret-right"></i>
    </div>
    <div id="collapseThreee" class="collapse" aria-labelledby="headingThreee" data-parent="#accordionn">
      <div class="card-body">
        <p>
  	     > Meilleurs tarifs :
  	     Un <em>freelance</em> vous coûtera dans la plupart des cas moins cher qu’une agence. Travaillant seul, ses charges de fonctionnement sont logiquement réduites, d’où un coût horaire plus avantageux.
  	     <br>
   		   > Flexibilité :
   		   Dans le cas d'une société dont les projets fluctuent selon les périodes et qui n'aurait pas nécessairement les moyens d’embaucher une personne supplémentaire, le profil flexible du freelance peut être la solution.
   		   <br>
   		   > Un échange personnalisé :
   		   Lorsque vous travaillez avec un <em>freelance</em>, vous disposez d’un lien privilégié avec ce dernier, une relation de confiance. Il est votre seul référent, connaît tous les aspects de votre projet et fait preuve d'une grande disponibilité.
	      </p>
      </div>
    </div>
      <div class="card">
    <div class="card-header" id="headingFourr">
      <h3 class="mb-0">
        <button (click)="toggleCaret($event)" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourr" aria-expanded="false" aria-controls="collapseFourr">
          <i class="fas fa-quote-left"></i>&nbsp;Quand ? Comment ? Combien ?&nbsp;<i class="fas fa-quote-right"></i>
        </button>
      </h3>
      <i class="fas fa-caret-right"></i>
    </div>
    <div id="collapseFourr" class="collapse" aria-labelledby="headingFourr" data-parent="#accordionn">
      <div class="card-body">
        <p>
	       Le coût de votre projet dépendera du temps nécessaire à sa réalisation. Plus votre site sera riche en contenu, en fonctionnalités et en effets de style, plus long sera son <em>développement</em>.<br>
	       Si vous souhaitez me soumettre un projet, recevoir une estimation ou simplement obtenir un renseignement, n'hésitez pas à me <a href="#contact">contacter</a> &#9786;
	      </p>
      </div>
    </div>
  </div>
</div>
